<!-- <app-menu-bar></app-menu-bar> -->
<div class="back">
<div class="square" id="java" >
    <div class="content">
        <!-- <p><B>JAVA</B></p><br> -->
        <button class="button" value="java" >Start</button>
    </div>
</div>
<div class="square" id="python">
    <div class="content">
        <!-- <p><B>PYTHON</B></p><br> -->
        <button class="button" value="python" >Start</button>
    </div>
</div>
<div class="square" id="php">
    <div class="content">              
        <!-- <p><B>PHP</B></p><br> -->
        <button class="button" value="php">Start</button>
    </div>
</div>
<div class="square" id="net">
    <div class="content">              
        <!-- <p><B>.NET</B></p><br> -->
        <button class="button" value="dotnet">Start</button>
    </div>
</div>
<div class="square" id="c">
    <div class="content">              
        <!-- <p><B>C</B></p><br> -->
        <button class="button" value="c">Start</button>
    </div>
</div>
<div class="square" id="cplus">
    <div class="content">              
        <!-- <p><B>C++</B></p><br> -->
        <button class="button" value="c++">Start</button>
    </div>
</div>
</div>





