<div class="header">
    <i> Weeks of coding can save you hours of planning.</i>
</div>
<div class="topnav">    
    <button type="submit" class="button submit">Submit Test</button>
</div>
<div class="side"> 
    Time Left:
    <div id="timer"></div>   
 </div>
<div class="middle">
    <p>question</p>
    <input type="radio" id="option1" name="options">option_1<br>
    <input type="radio" id="option2" name="options">option_2<br>
    <input type="radio" id="option3" name="options">option_3<br>
    <input type="radio" id="option4" name="options">option_4<br>

    <button  class="button" value="prev" >Previous</button>
    <button class="button" value="next" >Next</button>
</div>

<footer >
    <p>© 2019 Copyright: CodeFlex.com</p>
</footer>