<!-- <app-menu-bar></app-menu-bar> -->
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Exam Section</h5>
    <p class="card-text">Buckle up your coding knowledge and be ready to begin.<br>
      Note : You need to attempt all three levels of your exam in one go!</p>
      <a href="exam_selection" class="btn btn-primary">New Exam</a>
  </div>    
</div>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Result Section</h5>
    <p class="card-text">You can view your previously attempted exam reports here!<br>
      <br></p>
    <a href="user_report" class="btn btn-primary">See Report</a>
  </div>    
</div>
