<!-- <app-menu-bar></app-menu-bar> -->
<div class="card text-center">
  <div class="card-body" id="main">
    <p class="animate-charcter" style="font-size:40px " id="head"><i><b>CodeFlex.com </b> </i></p>
  </div>
</div>  
  <div class="card text-center">
  <div class="c">  
  <div class="container my-5">
    
    


    <!--Section: Content-->
    
      <!-- Section description -->
      <div class="media-body" >
      <p class="lead text-center w-responsive mx-auto" id="n"><b>First, solve the problem.</b></p>
      </div>
   
      <!--First row-->
      <div class="row">
  
        <!--First column-->
        
        <div class="col-md-6 mb-4" id="h" >
  
          <!-- Card -->
          
  
            <!-- Card content -->
            <div class="card-body" id="sub" >
  
              
                
                
                  <a href="exam_selection" class="btn btn-primary">Start New Exam</a>
                  <p style="color:rgb(254, 254, 254)">Note : You need to attempt all three levels of your exam in one go!</p>
                
                
              
  
            </div>
  
          
          <!-- Card -->
  
        </div>
        <!--First column-->
  
        <!--Second column-->
        <div class="col-md-6 mb-4" id="h">
  
          <!-- Card -->
          
  
            <!-- Card content -->
            <div class="card-body" id="sub">
  
              
                
                
                  <a href="user_report" class="btn btn-primary">View Results</a>
                  <p style="color:rgb(255, 255, 255)">The results of the exams you've already taken are available here!</p>
                
              
  
            </div>
  
          
          <!-- Card -->
          <!-- Card -->
  
        </div>
        <!--Second column-->
  
      </div>
  </div><br><br><br><br><br><br><br><br>
</div>
</div> 
<!-- Footer -->
<div style="background-color:rgb(4, 14, 18)">
<footer class="page-footer font-small grey lighten-3 py-4 dark-grey-text">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="font-weight-bold mb-0" style="color: white">CodeFlex</h3>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
          	<a class="mx-3">About</a>
          </li>
          <li>
          	<a class="mx-3" >Contact:</a>
          </li>
          <li>
          	<a class="mx-3" >(+91)8865238521</a>
          </li>
          <li>
          	<a class="mx-3">srstb@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2">© 2019.
          <a class="dark-grey-text" > All rights reserved.</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>
  </div>
  
  <!-- Footer Elements -->

</footer>
</div>
<!-- Footer -->




    
