<!-- <app-menu-bar></app-menu-bar> -->
<div class="row">
    <div class="column leftside">
        <img src="assets/images/home2.png" alt="welcome">    
    </div>
    <div class="column rightside">
        <div class="title">
            <br>
            OnlineExamSystem By SRSBT
        </div><br><br>
        <div class="content">
           <p>The <i>EXPERT</i> in everything was once a <i>BEGINNER...</i><br>
                Let's <i>BEGIN</i> the journey.<br><br><br>
            </p>
                <div class="test">
                 Test yourself with OnlineExamSystem By SRSBT.
                </div>          
        </div>
    </div>
</div>
<footer>
    &copy;OnlineExamSystem By SRSBT <br>      Email: online.exam.system.by.SRSBT@gmail.com       Contact-number: 1234567890
</footer>


